/*? EXTRAS ----------------------------*/

/* * PROGRESS-BAR */
.progress-container {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background-color: transparent;
}

#scrollProgress {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1%;
	z-index: 9999;
}

progress[value]::-webkit-progress-value {
	background-image:
		-webkit-linear-gradient(90deg,
			transparent 33%,
			rgba(0, 0, 0, .1) 33%,
			rgba(0, 0, 0, .1) 66%, transparent 66%),
		-webkit-linear-gradient(top,
			rgba(12, 12, 12, 0.25),
			rgba(0, 0, 0, .25)),
		-webkit-linear-gradient(left, rgb(3, 3, 3), rgb(8, 206, 156));


}

progress[value]::-moz-progress-bar {
	background-image:
		-moz-linear-gradient(90deg,
			transparent 33%,
			rgba(0, 0, 0, 0.1) 33%,
			rgba(0, 0, 0, 0.1) 66%,
			transparent 66%),

		-moz-linear-gradient(top,
			rgba(12, 12, 12, 0.25),
			rgba(0, 0, 0, .25)),

		-moz-linear-gradient(left,
			rgb(3, 3, 3),
			rgb(8, 206, 156));

}

/* * Arrow-scroll-to-top */

.scrollToTop {
	display: flex;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	z-index: 9999;
	background-color: rgb(70, 70, 70, 0.4);
	border-radius: 50%;
	border: 1px solid var(--accent-color);
	color: var(--accent-color);
}